{% extends 'admin_base.html' %}

{% block title %}NOBLE Hotel Management System | Manage Room{% endblock %}


{% block content %}
	<div class="d-flex justify-content-between">
		<h2>Room Management</h2>
		<div class="d-flex">
			<span class="text-danger" id="searchErr"  style="display: none;">Enter a Search keyword!</span>
			<form action="{% url 'roomMgt' %}" onsubmit="return searchValidate()" method="get" class="mx-2">
				<div class="input-group">
					<input type="text" id="form1" class="form-control shadow-none" placeholder="Search by Room Num" name="q"/>
					<button type="submit" class="btn btn-primary input-group-text">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>
			<p><a href="#" class="btn btn-primary btn-block shadow-none staff-form-btn" data-bs-toggle="modal" data-bs-target="#addModal"><i class="fa fa-plus"></i> Add Room</a></p>
		</div>

	</div>
	
	<br>
	<table class="table table-responsive table-bordered table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Room Num</th>
	      <th scope="col">Room Type</th>
	      <th scope="col">Room Price</th>
	      <th scope="col">Room Status</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody class="table-body">
	  	{% for room in rooms %}
	    <tr>
	      <th scope="row">{{room.room_num}}</th>
	      <td>{{room.room_type}}</td>
	      <td>{{room.room_price}}</td>
	      <td>{{room.room_status}}</td>
	      <td align="center">
	      	<a href="{% url 'updateRoom' room.room_num %}" class="btn btn-primary btn-block btn-sm shadow-none mx-2 staff-form-btn">UPDATE</a>
	      	<a href="{% url 'deleteRoom' room.room_num %}" class="btn btn-warning btn-block btn-sm shadow-none">REMOVE</a>
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>



	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Create New Staff</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	      	<!-- Form Layout -->
	        <form class="grid" action="{% url 'addRoom' %}" method="POST">

				{% csrf_token %}
				
				<div class="row mb-3">
					<div class="col-md-4">
						<input type="text" class="form-control" placeholder="Room Number" value="{{ room.room_num}}" name="roomNum">
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control" placeholder="Room Price" value="{{ room.room_price }}" name="roomPrice">
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-md-12">
						<select class="form-select" name="roomType" id="roomType">
							<option  selected disabled="">Select Room Type</option>
							<option value="Single">Single</option>
							<option value="Double">Double</option>
							<option value="Deluxe">Deluxe</option>
							<option value="Twin">Twin</option>
							<option value="Executive">Executive</option>
						</select>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary staff-form-btn">Add</button>
				</div>
	        </form>
	      
	    </div>
	  </div>
	</div>



{% endblock %}