{% extends 'admin_base.html' %}

{% block title %}NOBLE Hotel Management System | Billing History{% endblock %}


{% block content %}
	<div class="d-flex justify-content-between align-items-center">
		<h2>Billing History</h2>
        <!-- <div>
            <span class="text-danger" id="searchErr"  style="display: none;">Enter a Search keyword!</span>
            <form action="{% url 'dirtyRooms' %}" onsubmit="return searchValidate()" method="get" class="mx-2">
                <div class="input-group">
                    <input type="text" id="form1" class="form-control shadow-none" placeholder="Search by Room Num" name="q"/>
                    <button type="submit" class="btn btn-primary input-group-text">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div> -->

	</div>
	
	<br>
	<table class="table table-responsive table-bordered table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Bill Id</th>
	      <th scope="col">Guest Id</th>
	      <th scope="col">Room Num</th>
	      <th scope="col">Room Type</th>
	      <th scope="col">Amount</th>
	      <th scope="col">Checkin</th>
	      <th scope="col">Checkout</th>
	      <th scope="col">Bill Date</th>
          <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody class="table-body">
        {% if messages %}
            {% for message in messages %}
                <td colspan="9" align="center"><b>{{message}}</b></td>
            {% endfor %}
        {% else %}
            {% for bill in bills %}
                <tr>
                <th scope="row">{{bill.bill_id}}</th>
                <td>{{bill.guest.guest_id}}</td>
                <td>{{bill.room.room_num}}</td>
                <td>{{bill.room.room_type}}</td>
                <td>{{bill.amount}}</td>
                <td>{{bill.checkin_date}}</td>
                <td>{{bill.checkout_date}}</td>
                <td>{{bill.billing_date | date:"d/m/Y" }}</td>
                <td align="center">
                    <a href="#" class="btn btn-warning btn-block btn-sm shadow-none"><b>PRINT</b></a>
                    <a href="{% url 'deleteBill' bill.bill_id %}" class="btn btn-danger btn-block btn-sm shadow-none"><b><i class="fa fa-trash"></i></b></a>
                </td>
                </tr>
            {% endfor %}
        {% endif %}
	  </tbody>
	</table>




{% endblock %}