
{% extends 'base.html' %}

{% block title %}NOBLE Hotel Management System | Dashboard{% endblock %}

{% block content %}
        <h1 class="mt-2"> Welcome {{user.get_username}}!</h1>
        <p class="mt-4">The Online Platform for Management of <b>Noble Hotel and Suites</b>. You can view Avaialable Rooms, Make reservations, Checkout Guests and Process Payments.</p>

        <div class="row quick-links mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'manageReserve' %}">
                    <div class="card text-center mt-2" id="quick-reserve">
                        <div class="card-body p-5">
                            <p class="card-text p-5">
                                MAKE RESERVATION
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            

            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'manageCheckin' %}">
                    <div class="card text-center mt-2" id="quick-view">
                        <div class="card-body p-5">
                            <p class="card-text p-5">
                                VIEW CHECK-INS
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            

            <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <div class="card text-center mt-2" id="quick-manage">
                        <div class="card-body p-5">
                            <p class="card-text p-5">
                                VIEW GUEST BILL
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            

        </div>

{% endblock %}